body{
  font-family: 'Open Sans', sans-serif!important;
}
.app{
  height: 100vh!important;
}
.nav,footer{
  background-color: #C3C4C3;
}
.nav-link,footer a {
  font-weight:  600!important;
}
.community_college_list{
  max-height: 200px;
  overflow-y: scroll;
}
.search-result-table{
  max-height: 300px;
  overflow-y: scroll;
}